<!DOCTYPE html>
<html>
    <head>
        <title>멤버 목록</title>
        <link rel="stylesheet" href="/stylesheets/style.css"/>
    </head>
    <body>
        <h1>멤버 list</h1>
        <table>
            <thead>
                <tr>
                    <th>멤버ID</th>
                    <th>이메일주소</th>
                    <th>이름</th>
                    <th>전화번호</th>
                    <th>생년월일</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%=member.member_id%></td>
                    <td><%=member.email%></td>
                    <td><%=member.name%></td>
                    <td><%=member.telephone%></td>
                    <td><%=member.birth_date%></td>
                </tr>
            </tbody>
        </table>

        <a href="/api/member/create">▶신규 유저 생성</a><br />
        <a href="/api/member/modify">▶유저 정보 수정</a><br />
        <a href="/api/member/delete">▶유저 삭제하기</a><br />
    </body>
</html>